{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="NOARCHIVE" name="ROBOTS"/>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/product_view.css' %}">
        {% block title%} {% endblock %}
    </head>

    <body>
        {% include '_nav.html' %}

        {% block body %}
        {% endblock %}

        {% include '_footer.html'%}
    </body>

</html>